/*header*/
header{
	width: 1170px;
	/*position: fixed;
	z-index: 4;*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	/*left: 150px;*/
	/*top: 0px;*/
	background-color: #fff;
	padding: 5px 0px;
}
.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.htm{
	width: 100px;
}
.navigation-li{
	margin-right: 15px;
	font-size: 24px;
}

.social-li{
	margin-right: 15px;
	font-size: 30px;
	color: #3D58A6;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-li::after{
	content: "";
	width:2px;
	display: inline-block;
	height: 30px;
	margin: 0 15px;
	background-color: blue;
    vertical-align: top;
}
.social-li:last-child:after{
	display: none;
}
.burger{
	font-size: 24px;
	display: none;
	color: red;
}
.about{
	background-color: red;
	/*margin-top: 46px;*/
}
.abo{
	max-width: 1170px;
	margin: 0 auto;
	height: 40px;
	font-size: 20px;
	padding-top: 10px;
}
/*header*/

/*suratebi*/
.boxis{
	width: 1170px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 30px;
}
.row{
	border-style: solid;
	border-width: 1px;
	border-color: red;
	height: 200px;
	padding: 30px 30px;

}
.comp{
	border-style: solid;
	border-width: 1px;
	border-color: red;
	width: 300px;
	padding: 60px 40px;
}
.rac{
	border-style: solid;
	border-width: 1px;
	border-color: red;
	height: 200px;
	padding: 30px 30px;
}
.boxis22{
	display: none;
}
.box33 img{
	padding-right: 335px;
}
/*suratebi*/

/*man*/
.cont h3{
	color: red;
	padding: 5px 0px;
}
.container::after{
	content: "";
	width: 100%;
	height: 2px;
	background-color: red;
	display: inline-block;
}
.men{
	/*width: 1170px;*/
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 60px;
}
.cont{
	width: 1170px;
	margin: 0 auto;
}
.cont1{
	display: none;
}

/*man*/

/*media*/
.soci{
	background-color: #BDCCD4;
}
.soc{
	max-width: 1170px;
	margin: 0 auto;
	padding: 20px;
}
.soc p{
	text-decoration: underline;
}
.wrapper{
	width: 1170px;
	margin: 0 auto;
	padding: 20px;
}
.article p{
	width: 400px;
	font-size: 16px;
	padding: 15px;
}
.media{
	background-color: #E6E6E6;
}
.media-img{
	padding: 10px;
}
h2{
	padding-bottom: 20px;
	font-size: 26px;
}
.divaider h3{
	font-size: 20px;
	padding: 10px 0px;
}
.divaider{
	background-color: #F2F2F2;
	padding: 10px
}
.divaider p{
	text-align: right;
}
/*media*/

.foot{
	width: 1170px;
	margin: 0 auto;
	padding: 20px;
}
/*responsive*/
@media (max-width: 1170px) {
	header{
		width: 1024px;
	}
	.abo{
		width: 1024px;
	}
	.boxis{
		width: 1024px;
	}
	.cont{
		display: none;
	}
	.cont1{
		width: 1024px;
	display: block;
	margin: 0px 20px;
	}
	.soc{
		width: 1024px;
	}
	.media{
		display: none;
	}
	.foot{
		width: 1024px;
	}
}
@media (max-width: 1024px) {
	header{
		width: 768px;
	}
	.abo{
		width: 768px;
	}
	.boxis{
		width: 768px;
	}
	.cont1{
		width: 768px;
	display: block;
	margin: 0px 20px;
	}
	.soc{
		width: 768px;
	}
	.foot{
		width: 768px;
	}
}
@media only screen and (max-width: 768px) {
	header{
		width: 480px;
	}
	.burger{
		display: block;
	}
	.social{
		display: none;
	}
	.abo{
		width: 480px;
	}
	.boxis{
		display: none;
	}
	.boxis22{
		display: block;
		width: 480px;
	}
	.cont1{
		width: 480px;
	display: block;
	margin: 0px 20px;
	}
	.soc{
		width: 480px;
	}
	.foot{
		width: 480px;
	}
}


