.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.width{
	width: 1170px;
	margin: 0 auto;
}
.burger{
	display: none;
}
header{
	width: 1170px;
	margin: 0 auto;
	height: 45px;
}
.htm{
	width: 100px;
}
.navigation-ul{
	font-size: 28px;
}
.social-ul{
	font-size: 28px;
}
.navigation-li{
	margin-left: 15px;
}
.social-li{
	margin-left: 15px;
}
.social-li::after{
	content: "";
	width: 2px;
	height: 28px;
	background-color: #3D58A6;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.social-li:last-child:after{
	display: none;
}
.social-li:last-child{
	background-color: red;
	color: red;
}
/*header*/
.section1{
	padding: 20px 0px;
	background-color: #E6E6E6;
}
.background{
	background-image:url(../img/banner.jpg);
	width: 1170px;
	height: 460px;
	position: relative;
}
.p{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.background p{
	font-size: 36px;
}
.background img{
	width: 150px;
	position: absolute;
	bottom: 30px;
	right: 30px;
}
/*section2*/
.section2{
	background-color: #363E97;
	padding-top: 15px;
}
.vid{
	padding-bottom: 50px;
}
.vid h1{
	margin: 15px 0px;
	font-size: 28px;
}
.video-child{
	width: 570px;
	height: 320px;
	border: solid;
	border-width: 2px;
	display: block;
}
.video-child:hover{
	border-color: red;
}
/*section3*/
.section3{
	background-color: #BDCCD4;
	 padding: 15px 0px 60px 0px;
}
.box h1{
	font-size: 28px;
	margin-bottom: 15px;
}
.read-more{
	font-size: 16px;
	position: absolute;
	right: 15px;
}	
/*bottom: 30px;*/
.media h1{
	font-size: 28px;
}
.media-chil h3{
	font-size: 22px;
}
.box{
	position: relative;
}
.boxis p{
	background-color: #E6E6E6;
	padding: 10px;
}
.boxbox img{
	display: block;
}
.boxis{
	padding-bottom: 30px;
}
/*section4*/
.section4{
	background-color: #E6E6E6;
	padding: 30px 0px;
}
.med article{
	display: flex;
	justify-content: space-between; 
	align-items: center;
	padding: 20px;
}
.med article p{
	width: 330px;
	margin-right: 30px;
}
.media-child h3{
	padding-top: 15px;
	font-size: 20px;
}
.media h1{
	margin-bottom: 15px;
}
.med{
	background-color: #F2F2F2;
	padding: 15px;
	width: 570px;
	position: relative;
}
.read{
	position: absolute;
	right: 30px;
	bottom: 15px;
}
.footer{
	padding: 20px 0px;
}
/*responsive*/

@media only screen and (max-width: 1170px){
	header{
		width: 1024px;
	}
	.section1{
		width: 1024px;
	}
	.background{
		width: 1024px;
	}
	.section2{
		display: none;
	}
	.box{
		width: 1024px;
	}
	.boxbox:last-child{
		display: none;
	}
	.media-child{
		display: block;
	}
	.med{
		width: 1024px;
	}
	.med article p{
		width: 670px;
	}
	.footer{
		width: 1024px;
	}
}

@media only screen and (max-width: 1024px){
	header{
		width: 768px;
	}
	.background{
		background-position: center;
	}
	.social{
		display: none;
	}
	.burger{
		display: block;
	}
	.section1{
		width: 768px;
	}
	.background{
		width: 768px;
	}
	.section2{
		display: none;
	}
	.box{
		width: 768px;
	}
	.boxbox:last-child{
		display: none;
	}
	.media-child{
		display: block;
	}
	.med{
		width: 768px;
	}
	.med article p{
		width: 400px;
	}
	.footer{
		width: 768px;
	}
}

@media only screen and (max-width: 768px){
	header{
		width: 480px;
	}
	.background{
		background-position: center;
	}
	.social{
		display: none;
	}
	.burger{
		display: block;
	}
	.section1{
		width: 480px;
	}
	.background{
		width: 480px;
	}
	.section2{
		display: none;
	}
	.box{
		width: 480px;
	}
	.boxbox:last-child{
		display: none;
	}
	.boxbox:nth-child(3){
		display: none;
	}	
	.media-child{
		display: block;
	}
	.med{
		width: 480px;
	}
	.med article p{
		width: 480px;
	}
	.footer{
		max-width: 480px;
	}
}

@media only screen and (max-width: 480px){
	header{
		width: 320px;
	}
	.background{
		background-position: center;
	}
	.social{
		display: none;
	}
	.burger{
		display: block;
	}
	.section1{
		width: 320px;
	}
	.background{
		width: 320px;
	}
	.section2{
		display: none;
	}
	.box{
		width: 320px;
	}
	.boxis{
		display: block;
	}
	.boxbox:last-child{
		display: none;
	}
	.media-child{
		display: block;
	}
	.med{
		width: 320px;
	}
	.med article p{
		width: 320px;
	}
	.footer{
		width: 320px;
		display: block;
	}
}